<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.michael.poem.mapper.PoemMapper">
    <select id="queryCategory" resultType="String">
        SELECT category FROM poem GROUP BY category
    </select>
    <select id="queryListByCategory" parameterType="String" resultType="cn.michael.poem.response.ListResponse">
        SELECT id,title,author FROM poem WHERE category = #{category}
    </select>
    <select id="queryDetailById" parameterType="Integer" resultType="cn.michael.poem.pojo.Poem">
       SELECT id,
        title,
        dynasty,
        author,
        content,
        category
        FROM poem WHERE id = #{id}
    </select>
</mapper>